@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

body {
  font-family: "Inter";
  font-style: normal;
  margin: 0 auto;
  background: #f3f5fc;
}

main {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  margin: 40px;
  height: 100vh;
}

.logo {
  display: flex;
  height: 48px;
  width: 120px;
  justify-content: center;
}

.TextBox {
  position: relative;
  padding-top: 120px;
  width: 680px;
}

textarea {
  background: #f3f5fc;
  resize: none;
  width: 577px;
  height: 390px;
  border: none;
  outline: none;
  font-weight: 400;
  font-size: 32px;
  line-height: 150%;
  color: #0a3871;
}

textarea::placeholder {
  color: #0a3871;
}


.contBotones {
  padding-top: 16px;
  display: flex;
  gap: 24px;
}

.btnEncriptar {
  cursor: pointer;
  background: #0a3871;
  border: none;
  border-radius: 24px;
  width: 328px;
  height: 67px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
}

.btnEncriptar:hover {
  background: #174072;
}

.btnDesencriptar {
  cursor: pointer;
  background: #d8dfe8;
  border: 1px solid #0a3871;
  border-radius: 24px;
  width: 328px;
  height: 67px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #0a3871;
}

.btnDesencriptar:hover {
  background: #c8d6e8;
}

.cardRespuesta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px;
  width: 400px;
  height: 600px;
  background: #ffffff;
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
  border-radius: 32px;
}

.contenedorMuñeco {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.muñeco {
  /* display: none; */
  max-width: 336px;
  max-width: 304px;
}

.txtcard {
  padding: 0px;
  gap: 16px;
  width: 336px;
  height: 122px;
}

.btncopiar {
  align-self: center;
  cursor: pointer;
  text-align: center;
  width: 328px;
  height: 67px;
  /* visibility: hidden; */
  display: none;
  margin-top: 15px;
  background: #d8dfe8;
  border: 1px solid #0a3871;
  border-radius: 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #0a3871;
}

.btncopiar:hover {
  background: #c8d6e8;
}

#respuesta {
  align-self: flex-start;
}

#respuesta > p {
  overflow: auto;
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  resize: none;
  color: #495057;
  max-width: 400px;
  max-height: 450px;
  word-wrap: break-word;
}
.respuesta{
  height: 500px;
}

@media screen and (max-width: 768px) {
  body{
    width: auto;
  }
  main{
    flex-direction: column;
  }
  .respuesta{
    width: auto;
  }
  .cardRespuesta{
    width: 400px;
    justify-content: center;
    gap: 1em;
    
    position: relative;
    bottom: 0;
  }
  .muñeco{
    display: none;
  }


}

@media screen and (min-width:768px) and (max-width:1023px) {
  .body {
    width: auto;
  }
    main{
    flex-wrap: wrap;
    flex-direction: column;
  }
  .respuesta{
    width: auto;
  }
  .cardRespuesta{
    width: 400px;
    justify-content: center;
    gap: 1em;
  }
  .muñeco{
    display: none;
    
  }
}